apiVersion: apps/v1
kind: Deployment
metadata:
  name: sowmiya-deployment
  labels:
    app: hello-world
spec:
  replicas: 3
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      containers:
      - name: hello-world
        image: sowmiyapriya21/helloworld-demo-python:v1
        ports:
        - containerPort: 8080
